# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [1]:
# import pandas

import pandas as pd

# create your data variabe using .read_csv 

data = pd.read_csv('IMDB-Movie-Data.csv')

# create your data_indexed variable here

data_indexed = data.set_index('Rank')

In [ ]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [14]:
# Read data with specified explicit index

data_indexed = pd.read_csv('IMDB-Movie-Data.csv', index_col = 'Rank')

print(data_indexed)

                        Title                     Genre  \
Rank
1     Guardians of the Galaxy   Action,Adventure,Sci-Fi
2                  Prometheus  Adventure,Mystery,Sci-Fi
3                       Split           Horror,Thriller
4                        Sing   Animation,Comedy,Family
5               Suicide Squad  Action,Adventure,Fantasy
...                       ...                       ...
996      Secret in Their Eyes       Crime,Drama,Mystery
997           Hostel: Part II                    Horror
998    Step Up 2: The Streets       Drama,Music,Romance
999              Search Party          Adventure,Comedy
1000               Nine Lives     Comedy,Family,Fantasy

                                            Description              Director  \
Rank
1     A group of intergalactic criminals are forced ...            James Gunn
2     Following clues to the origin of mankind, a te...          Ridley Scott
3     Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
4     In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
5     A secret government agency recruits some of th...            David Ayer
...                                                 ...                   ...
996   A tight-knit team of rising investigators, alo...             Billy Ray
997   Three American college students studying abroa...              Eli Roth
998   Romantic sparks occur between two dance studen...            Jon M. Chu
999   A pair of friends embark on a mission to reuni...        Scot Armstrong
1000  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                 Actors  Year  \
Rank
1     Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
2     Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
3     James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
4     Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
5     Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
...                                                 ...   ...
996   Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
997   Lauren German, Heather Matarazzo, Bijou Philli...  2007
998   Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
999   Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
1000  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

      Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
Rank
1                   121     8.1  757074              333.13       76.0
2                   124     7.0  485820              126.46       65.0
3                   117     7.3  157606              138.12       62.0
4                   108     7.2   60545              270.32       59.0
5                   123     6.2  393727              325.02       40.0
...                 ...     ...     ...                 ...        ...
996                 111     6.2   27585                 NaN       45.0
997                  94     5.5   73152               17.54       46.0
998                  98     6.2   70699               58.01       50.0
999                  93     5.6    4881                 NaN       22.0
1000                 87     5.3   12435               19.64       11.0

[1000 rows x 11 columns]

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [15]:
# Use the head() function to view the first 5 rows of the data set

data_indexed.head()

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [16]:
# Use the tail() function to view the last 5 rows of the data set

data_indexed.tail()

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [2]:
# The info() function: 

data_indexed.info()

# Gives you column names, null count, and data type

# Prints a concise summary of a DataFrame, including column data types and non-null values.

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Title               1000 non-null   object
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 93.8+ KB

In [4]:
# shape:

data_indexed.shape

# Gives you a tuple telling you how many rows and columns are in the dataframe?
# Why doesn't shape use () at the end of it like other methods?  

# Returns a tuple representing the dimensions of your data structure

# what information does shape provide?  what is the order?

# number of rows, number of columns, in that order

(1000, 11)

In [5]:
# columns:

data_indexed.columns

# Creates a list of the column names in a dataframe.

# Accesses the column labels of a DataFrame as a list.

# what information does columns provide?

Index(['Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [6]:
# The describe() function: 

data_indexed.describe()

# Gives descriptive and summarative statistics on the dataframe.

,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000,936.000000
mean,2012.783000,113.172000,6.723200,1.698083e+05,82.956376,58.985043
std,3.205962,18.810908,0.945429,1.887626e+05,103.253540,17.194757
min,2006.000000,66.000000,1.900000,6.100000e+01,0.000000,11.000000
25%,2010.000000,100.000000,6.200000,3.630900e+04,13.270000,47.000000
50%,2014.000000,111.000000,6.800000,1.107990e+05,47.985000,59.500000
75%,2016.000000,123.000000,7.400000,2.399098e+05,113.715000,72.000000
max,2016.000000,191.000000,9.000000,1.791916e+06,936.630000,100.000000

### 4. Data Selection -- Indexing and Slicing

In [13]:
#  Extract data as series
# define and print the variable 'genre'

series = data['Genre']

print(series)

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [45]:
# Extract the data as a dataframe and print it

data = pd.read_csv('IMDB-Movie-Data.csv')

print(data)

#Didn't we already do this at the very beginning of this studio?

     Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]

In [47]:
# Extract data using rows

rows = data.loc[0:5]

print(rows)

# loc function

   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy
5     6           The Great Wall  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer
5  European mercenaries searching for black powde...           Yimou Zhang

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123
5      Matt Damon, Tian Jing, Willem Dafoe, Andy Lau  2016                103

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0
5     6.1   56036               45.13       42.0

In [49]:
# iloc function

rows = data.iloc[0:5]

print(rows)

# Is there now difference between .loc and .iloc in this case because the index labels (.loc)
# are the same as the index positions (.iloc) in this particular dataframe?

   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0

### 5. Data Selection - Based on Conditional Filtering

In [53]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.

selected_movies = data_indexed[
    (data_indexed['Year'] >= 2010) & (data_indexed['Year'] <= 2016)
    & (data_indexed['Rating'] < 6.0)
    & (data_indexed['Revenue (Millions)'] > 250)
]

print(selected_movies)

                                          Title                    Genre  \
Rank
367   The Twilight Saga: Breaking Dawn - Part 2  Adventure,Drama,Fantasy
926   The Twilight Saga: Breaking Dawn - Part 1  Adventure,Drama,Fantasy
942                  The Twilight Saga: Eclipse  Adventure,Drama,Fantasy

                                            Description     Director  \
Rank
367   After the birth of Renesmee, the Cullens gathe...  Bill Condon
926   The Quileutes close in on expecting parents Ed...  Bill Condon
942   As a string of mysterious killings grips Seatt...  David Slade

                                                 Actors  Year  \
Rank
367   Kristen Stewart, Robert Pattinson, Taylor Laut...  2012
926   Kristen Stewart, Robert Pattinson, Taylor Laut...  2011
942   Kristen Stewart, Robert Pattinson, Taylor Laut...  2010

      Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
Rank
367                 115     5.5  194329              292.30       52.0
926                 117     4.9  190244              281.28       45.0
942                 124     4.9  192740              300.52       58.0

In [67]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?

second_twilight = selected_movies['Year'].quantile(0.5)

print(second_twilight)

#I guess this is telling us that the one released in 2011 is the second one?

2011.0